---
name: Build and Sign Containers on PR

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:

  detect-files-changed:
    runs-on: ubuntu-latest
    outputs:
      files-changed: ${{ steps.detect-files-changed.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@v4
      - name: Detect files changed
        id: detect-files-changed
        uses: tj-actions/changed-files@v44
        with:
          separator: ','

  build-container-proxyd:
    uses: celo-org/reusable-workflows/.github/workflows/docker-build.yaml@v3.0.1
    name: Build proxyd image container
    needs: detect-files-changed
    if: |
      contains(needs.detect-files-changed.outputs.files-changed, 'proxyd') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push.yaml') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push-pr.yaml') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push-tag.yaml') ||
      github.event_name == 'workflow_dispatch'
    permissions:
      actions: read
      contents: write
      pull-requests: write
      security-events: write
      attestations: write
      id-token: write
    with:
      artifact-registry: us-west1-docker.pkg.dev/devopsre/dev-images/proxyd
      tags: pr
      platforms: linux/amd64
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-optimism-infra/providers/github-by-repos
      service-account: optimism-infra@devopsre.iam.gserviceaccount.com
      context: .
      file: ./proxyd/Dockerfile
      trivy-enabled: false

  build-container-op-conductor-ops:
    uses: celo-org/reusable-workflows/.github/workflows/docker-build.yaml@v3.0.1
    name: Build op-conductor-ops image container
    needs: detect-files-changed
    if: |
      contains(needs.detect-files-changed.outputs.files-changed, 'op-conductor-ops') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push.yaml') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push-pr.yaml') ||
      contains(needs.detect-files-changed.outputs.files-changed, '.github/workflows/docker-build-push-tag.yaml') ||
      github.event_name == 'workflow_dispatch'
    permissions:
      actions: read
      contents: write
      pull-requests: write
      security-events: write
      attestations: write
      id-token: write
    with:
      artifact-registry: us-west1-docker.pkg.dev/devopsre/dev-images/op-conductor-ops
      tags: pr
      platforms: linux/amd64
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-optimism-infra/providers/github-by-repos
      service-account: optimism-infra@devopsre.iam.gserviceaccount.com
      context: .
      file: ./op-conductor-ops/Dockerfile
      trivy-enabled: false
